# Dependencies
Backend/node_modules/
Frontend/node_modules/
# Build output
Frontend/build/
Frontend/dist/
Backend/build/
Backend/dist/
# Temporary files
*.log
.env
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp

# Operating system files
Thumbs.db
